{
    "branches": ["main"],
    "tagFormat": "${version}",
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits",
                "releaseRules": [
                    { "type": "feat", "release": "minor" },
                    { "type": "fix", "release": "patch" },
                    { "type": "perf", "release": "patch" },
                    { "type": "revert", "release": "patch" }
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "issuePrefixes": ["DEV-", "UX-"],
                    "issueUrlFormat": "https://companyl.atlassian.net/browse/{{prefix}}{{id}}",
                    "types": [
                        { "type": "feat", "section": "Features" },
                        { "type": "fix", "section": "Bug Fixes" },
                        { "type": "perf", "section": "Performance Improvements" },
                        { "type": "revert", "section": "Reverts" },
                        { "type": "docs", "section": "Documentation" },
                        { "type": "style", "section": "Style Changes" },
                        { "type": "refactor", "section": "Refactorings" },
                        { "type": "test", "section": "Tests" },
                        { "type": "build", "section": "Build System" },
                        { "type": "ci", "section": "CI Changes" },
                        { "type": "chore", "section": "Miscellaneous" }
                    ]
                }
            }
        ],
        "@semantic-release/github"
    ]
}